*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}
body{
    background-image: url(../img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-size: cover;
    
}